.uni-placeholder{
	overflow: hidden; 
	position: relative;
}
.uni-placeholder span{
	font-size: 14px;
}
.uni-placeholder-helper{
	visibility hidden;
	position: absolute;
	top: 7px;
	left: 0;
	color: #9F9F9F;
	white-space: no-wrap;
	user-select: none;
	transition: left 60ms;
	margin-left: 16px;
}
		
.uni-placeholder-helper.in{
		visibility: visible;
}